@import url(./default.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap");
.wrapper {
  margin: 0 auto;
  font-family: "Work Sans";
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

._above {
  position: relative;
  z-index: 3;
}

.header {
  min-height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav {
  z-index: 3;
  color: #fff;
  margin-bottom: 160px;
  position: absolute;
  top: 20px;
  left: auto;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__links li {
  margin-right: 30px;
}

.nav__links li a {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.header__title, .header__text {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header__title._active, .header__text._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.header__title {
  font-weight: 700;
  font-size: 82px;
  line-height: 96px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.header__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 20;
  -webkit-transform: translate(-250%, 0px);
          transform: translate(-250%, 0px);
  -webkit-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

.header__contacts._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  color: #fff;
  margin: 50px 20px;
  padding: 10px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__link:hover {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.contact__link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/******** Skills Section *********/
.skills {
  padding: 30px 0;
}

.skills__title {
  font-size: 62px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  line-height: 76px;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.image-slider__image img {
  max-width: 100%;
  height: 200px;
}

/******* Projects Section ********/
.projects__heading {
  max-width: 350px;
  text-align: center;
  font-size: 22px;
  margin: 0 auto 3rem auto;
  position: relative;
}

.projects__heading:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #000;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.projects__heading._active:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 1.6s ease;
  transition: all 1.6s ease;
}

.projects__container {
  padding: 0 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
  color: #fff;
  position: relative;
}

.projects__card:hover .projects__card--hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.projects__card:hover span {
  opacity: 1;
}

.projects__card img {
  height: 300px;
  max-width: 100%;
}

.projects__card--hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.projects__card--hover a {
  margin-right: 30px;
}

.projects__card--hover a svg:hover {
  fill: yellow;
}

.projects__img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__title {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 15px;
  font-size: 21px;
  line-height: 30px;
}

.projects__title span {
  opacity: 0;
  display: inline-block;
  height: 100%;
  text-align: center;
  color: yellow;
  margin-right: 10px;
}

.projects__title .projects__ncode {
  -webkit-transform: translateY(1.3px);
          transform: translateY(1.3px);
  margin: 0 2px 0 10px;
}

.contact {
  background-color: #333;
}

.contact input {
  display: block;
}

.contact textarea {
  display: block;
}
/*# sourceMappingURL=style.css.map */